In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass
import regex as re

# Importing and Data Cleaning

### Importing Data

In [2]:
def read_csv_files(*files):
    """
    Read CSV files into pandas DataFrames.

    Parameters:
    files: Paths to the CSV files

    Returns:
    tuple: A tuple containing the two DataFrames (df1, df2).
    """
    dfs = [pd.read_csv(file) for file in files]
    return dfs

file_paths = ['../data/Raw/dft-road-casualty-statistics-collision-2018.csv', 
              '../data/Raw/dft-road-casualty-statistics-vehicle-2018.csv',
             '../data/Raw/dft-road-casualty-statistics-casualty-2018.csv']

dataframes = read_csv_files(*file_paths)

df1, df2, df3 = dataframes

/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]

In [3]:
#Define a function to clean all column names to allow for merging of all 4 datasets
def column_cleaning(dfs):
    for i in range(len(dfs)):
        dfs[i].columns = dfs[i].columns.str.strip().str.lower()
        if 'row_id' in dfs[i].columns:
            dfs[i] = dfs[i].drop(columns=['row_id'])
    return dfs

In [4]:
#apply the function to the 4 datasets
df1, df2, df3 = column_cleaning([df1, df2, df3])

In [5]:
df1.head(1)

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2018010080971,2018,10080971,529150.0,182270.0,-0.139737,51.524587,1,3,2,...,0,4,1,1,0,0,1,1,2,E01000854

In [6]:
df2.head(1)

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2018010080971,2018,10080971,1,9,0,18,3,7,0,...,1,32,6,1995,2,5,BMW 5 SERIES,8,1,E01011051

In [7]:
df3.head(1)

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,2018010080971,2018,010080971,1,1,2,2,50,8,3,0,0,2,0,0,9,1,8,E01011051

### Data Cleaning

In [8]:
df1.columns

Index(['accident_index', 'accident_year', 'accident_reference',
       'location_easting_osgr', 'location_northing_osgr', 'longitude',
       'latitude', 'police_force', 'accident_severity', 'number_of_vehicles',
       'number_of_casualties', 'date', 'day_of_week', 'time',
       'local_authority_district', 'local_authority_ons_district',
       'local_authority_highway', 'first_road_class', 'first_road_number',
       'road_type', 'speed_limit', 'junction_detail', 'junction_control',
       'second_road_class', 'second_road_number',
       'pedestrian_crossing_human_control',
       'pedestrian_crossing_physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident',
       'trunk_road_flag', 'lsoa_of_accident_location'],
      dtype='object')

In [9]:
def columns_to_keep_collision(df):
    """
    There are several columns that are not relevant for the analysis and therefore will be removed
    from the dataset.
    """
    columns_to_keep = ['accident_index', 'accident_year', 'longitude', 'latitude', 'accident_severity', 'date', 
                       'day_of_week', 'time', 'local_authority_ons_district']

    df = df[columns_to_keep]

    return df

df1 = columns_to_keep_collision(df1)

In [10]:
df2.columns

Index(['accident_index', 'accident_year', 'accident_reference',
       'vehicle_reference', 'vehicle_type', 'towing_and_articulation',
       'vehicle_manoeuvre', 'vehicle_direction_from', 'vehicle_direction_to',
       'vehicle_location_restricted_lane', 'junction_location',
       'skidding_and_overturning', 'hit_object_in_carriageway',
       'vehicle_leaving_carriageway', 'hit_object_off_carriageway',
       'first_point_of_impact', 'vehicle_left_hand_drive',
       'journey_purpose_of_driver', 'sex_of_driver', 'age_of_driver',
       'age_band_of_driver', 'engine_capacity_cc', 'propulsion_code',
       'age_of_vehicle', 'generic_make_model', 'driver_imd_decile',
       'driver_home_area_type', 'lsoa_of_driver'],
      dtype='object')

In [11]:
def columns_to_keep_vehicle(df):
    """
    There are also several columns in the vehicle dataset that will need to be removed as they will not be
    relevant in the analysis.
    """
    columns_to_keep = ['accident_index', 'vehicle_type', 'sex_of_driver', 'age_band_of_driver']

    df = df[columns_to_keep]

    return df

df2 = columns_to_keep_vehicle(df2)

In [12]:
df3.columns

Index(['accident_index', 'accident_year', 'accident_reference',
       'vehicle_reference', 'casualty_reference', 'casualty_class',
       'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty',
       'casualty_severity', 'pedestrian_location', 'pedestrian_movement',
       'car_passenger', 'bus_or_coach_passenger',
       'pedestrian_road_maintenance_worker', 'casualty_type',
       'casualty_home_area_type', 'casualty_imd_decile', 'lsoa_of_casualty'],
      dtype='object')

In [13]:
def columns_to_keep_casualty(df):
    columns_to_keep = ['accident_index', 'casualty_class', 'sex_of_casualty', 'age_band_of_casualty', 'casualty_severity']
    df = df[columns_to_keep]
    return df

df3 = columns_to_keep_casualty(df3)

In [14]:
#Lets load dataset for 2019, 2020, 2021, and 2022
file_path = ['../data/Raw/dft-road-casualty-statistics-collision-2019.csv',
             '../data/Raw/dft-road-casualty-statistics-vehicle-2019.csv',
             '../data/Raw/dft-road-casualty-statistics-casualty-2019.csv',
             '../data/Raw/dft-road-casualty-statistics-collision-2020.csv',
             '../data/Raw/dft-road-casualty-statistics-vehicle-2020.csv',
             '../data/Raw/dft-road-casualty-statistics-casualty-2020.csv',
             '../data/Raw/dft-road-casualty-statistics-collision-2021.csv',
             '../data/Raw/dft-road-casualty-statistics-vehicle-2021.csv',
             '../data/Raw/dft-road-casualty-statistics-casualty-2021.csv',
             '../data/Raw/dft-road-casualty-statistics-collision-2022.csv',
             '../data/Raw/dft-road-casualty-statistics-vehicle-2022.csv',
             '../data/Raw/dft-road-casualty-statistics-casualty-2022.csv']

dataframe = read_csv_files(*file_path)

df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15 = dataframe

#Clean columns of all datasets
df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15 = column_cleaning([df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15])

#Keep only the relevant columns for the collision datasets
df4 = columns_to_keep_collision(df4)
df7 = columns_to_keep_collision(df7)
df10 = columns_to_keep_collision(df10)
df13 = columns_to_keep_collision(df13)

#Keep only the relevant columns for the vehicle datasets
df5 = columns_to_keep_vehicle(df5)
df8 = columns_to_keep_vehicle(df8)
df11 = columns_to_keep_vehicle(df11)
df14 = columns_to_keep_vehicle(df14)

#Keep only the relevant columns for the casualty datasets
df6 = columns_to_keep_casualty(df6)
df9 = columns_to_keep_casualty(df9)
df12 = columns_to_keep_casualty(df12)
df15 = columns_to_keep_casualty(df15)

/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2,27) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]
/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/485987702.py:11: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file) for file in files]

In [15]:
#Lets now concatenate all 'collision', 'vehicle', and 'casualty' dataset together from different years
collision = pd.concat([df1, df4, df7, df10, df13], axis = 0)
vehicle = pd.concat([df2, df5, df8, df11, df14], axis = 0)
casualty = pd.concat([df3, df6, df9, df12, df15], axis = 0)

In [16]:
collision

,accident_index,accident_year,longitude,latitude,accident_severity,date,day_of_week,time,local_authority_ons_district,local_authority_district
0,2018010080971,2018,-0.139737,51.524587,3,01/01/2018,2,01:30,E09000007,2
1,2018010080973,2018,0.046471,51.539651,3,01/01/2018,2,00:50,E09000025,17
2,2018010080974,2018,-0.102474,51.529746,3,01/01/2018,2,00:45,E09000019,3
3,2018010080981,2018,0.037828,51.530179,2,01/01/2018,2,03:00,E09000025,17
4,2018010080982,2018,0.065781,51.469258,2,01/01/2018,2,02:20,E09000011,6
...,...,...,...,...,...,...,...,...,...,...
105999,2022991311627,2022,-4.613246,55.495815,2,24/12/2022,7,15:00,S12000028,-1
106000,2022991312498,2022,-6.348650,55.783849,2,12/11/2022,7,21:35,S12000035,-1
106001,2022991315177,2022,-4.326930,55.843114,3,01/07/2022,6,11:44,S12000049,-1
106002,2022991321308,2022,-3.196963,55.980648,2,02/12/2022,6,16:45,S12000036,-1
106003,2022991322411,2022,-3.206662,55.950381,2,23/11/2022,4,19:05,S12000036,-1

#### Collision Cleaning

In [17]:
collision.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538461 entries, 0 to 106003
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   accident_index                538461 non-null  object
 1   accident_year                 538461 non-null  int64
 2   longitude                     538325 non-null  float64
 3   latitude                      538325 non-null  float64
 4   accident_severity             538461 non-null  int64
 5   date                          538461 non-null  object
 6   day_of_week                   538461 non-null  int64
 7   time                          538461 non-null  object
 8   local_authority_ons_district  538461 non-null  object
 9   local_authority_district      538461 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 45.2+ MB

In [18]:
collision['longitude'] = collision['longitude'].fillna('0.000000')
collision['latitude'] = collision['latitude'].fillna('0.000000')

In [19]:
collision.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538461 entries, 0 to 106003
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   accident_index                538461 non-null  object
 1   accident_year                 538461 non-null  int64
 2   longitude                     538461 non-null  object
 3   latitude                      538461 non-null  object
 4   accident_severity             538461 non-null  int64
 5   date                          538461 non-null  object
 6   day_of_week                   538461 non-null  int64
 7   time                          538461 non-null  object
 8   local_authority_ons_district  538461 non-null  object
 9   local_authority_district      538461 non-null  int64
dtypes: int64(4), object(6)
memory usage: 45.2+ MB

In [20]:
collision.columns

Index(['accident_index', 'accident_year', 'longitude', 'latitude',
       'accident_severity', 'date', 'day_of_week', 'time',
       'local_authority_ons_district', 'local_authority_district'],
      dtype='object')

In [21]:
def clean_accident_severity(df):
    """
    Clean the 'accident_severity' column by replacing the numbers with a categorical variable to give it some meaning.'
    """
    
    #Mapping dictionary to regroup accident severity 
    accident_severity_mapping = {
        1.0:'fatal',
        2.0:'Seriously Injuries',
        3.0:'Minor Injuries'
    }

    #Map values using the mapping dictionary
    df['accident_severity'] = df['accident_severity'].map(accident_severity_mapping)

    return df
collision = clean_accident_severity(collision)

In [22]:
#convert the 'date' column to datetime type
collision['date'] = pd.to_datetime(collision['date'], format='%d/%m/%Y')

#Create a 'month' column by extracting the month from the 'date' column
collision['accident_month'] = collision['date'].dt.month

def clean_accident_month(df):
    """
    Now that we have extracted the month in which the accident took place, lets rename the variables and convert them from numbers into the month names
    """
    accident_month_mapping = {
    1:'January',
    2:'February',
    3:'March',
    4:'April',
    5:'May',
    6:'June',
    7:'July',
    8:'August',
    9:'September',
    10:'October',
    11:'November',
    12:'December'
    }

    df['accident_month'] = df['accident_month'].map(accident_month_mapping)

    return df

collision = clean_accident_month(collision)

In [23]:
def clean_day_of_week(df):
    """
    Clean the 'day_of_week' column by replacing the numbers with the days of the week for easier understanding.'
    """
    
    #Mapping dictionary to regroup day of the week 
    day_of_week_mapping = {
        1.0:'Sunday',
        2.0:'Monday',
        3.0:'Tuesday',
        4.0:'Wednesday',
        5.0:'Thursday',
        6.0:'Friday',
        7.0:'Saturday'
    }

    #Map values using the mapping dictionary
    df['day_of_week'] = df['day_of_week'].map(day_of_week_mapping)

    return df

collision = clean_day_of_week(collision)

In [24]:
collision['local_authority_ons_district'].unique()

array(['E09000007', 'E09000025', 'E09000019', 'E09000011', 'E09000003',
       'E09000020', 'E09000023', 'E09000005', 'E09000030', 'E09000018',
       'E09000015', 'E09000028', 'E09000022', 'E09000009', 'E09000032',
       'E09000012', 'E09000014', 'E09000027', 'E09000010', 'E09000029',
       'E09000031', 'E09000026', 'E09000013', 'E09000002', 'E09000024',
       'E09000008', 'E09000017', 'E09000016', 'E09000006', 'E09000033',
       'E09000004', 'E09000021', 'EHEATHROW', 'E09000001', 'E07000028',
       'E07000026', 'E07000031', 'E07000027', 'E07000030', 'E07000029',
       'E06000009', 'E06000008', 'E07000120', 'E07000124', 'E07000126',
       'E07000117', 'E07000125', 'E07000122', 'E07000123', 'E07000118',
       'E07000127', 'E07000119', 'E07000121', 'E07000128', 'E08000011',
       'E08000012', 'E08000015', 'E08000014', 'E08000013', 'E08000003',
       'E08000006', 'E08000008', 'E08000007', 'E08000001', 'E08000010',
       'E08000009', 'E08000002', 'E08000005', 'E08000004', 'E06000007',
       'E06000049', 'E06000050', 'E06000006', 'E08000021', 'E06000057',
       'E08000022', 'E08000023', 'E08000024', 'E08000037', 'E06000047',
       'E06000005', 'E07000169', 'E07000165', 'E07000164', 'E06000014',
       'E07000163', 'E07000166', 'E07000168', 'E07000167', 'E08000036',
       'E08000035', 'E08000032', 'E08000034', 'E08000033', 'E08000019',
       'E08000016', 'E08000017', 'E08000018', 'E06000010', 'E06000012',
       'E06000011', 'E06000013', 'E06000001', 'E06000003', 'E06000002',
       'E06000004', 'E08000028', 'E08000026', 'E08000025', 'E08000030',
       'E08000027', 'E08000031', 'E08000029', 'E07000198', 'E07000197',
       'E07000196', 'E07000199', 'E07000194', 'E07000193', 'E07000195',
       'E07000192', 'E06000021', 'E07000235', 'E06000051', 'E07000237',
       'E06000019', 'E06000020', 'E07000238', 'E07000236', 'E07000234',
       'E07000239', 'E07000218', 'E07000219', 'E07000222', 'E07000221',
       'E07000220', 'E07000038', 'E06000015', 'E07000036', 'E07000039',
       'E07000037', 'E07000032', 'E07000034', 'E07000033', 'E07000035',
       'E07000170', 'E07000174', 'E07000175', 'E07000171', 'E06000018',
       'E07000172', 'E07000173', 'E07000176', 'E07000137', 'E07000141',
       'E07000136', 'E07000139', 'E07000142', 'E07000138', 'E07000140',
       'E06000016', 'E07000130', 'E07000135', 'E07000134', 'E06000017',
       'E07000131', 'E07000132', 'E07000129', 'E07000133', 'E07000150',
       'E07000152', 'E07000153', 'E07000151', 'E07000155', 'E07000156',
       'E07000154', 'E07000011', 'E07000012', 'E07000008', 'E07000009',
       'E06000031', 'E07000010', 'E07000148', 'E07000146', 'E07000147',
       'E07000143', 'E07000144', 'E07000149', 'E07000145', 'E07000200',
       'E07000204', 'E07000202', 'E07000205', 'E07000203', 'E07000201',
       'E07000206', 'E06000032', 'E06000055', 'E06000056', 'E07000242',
       'E07000096', 'E07000099', 'E07000243', 'E07000241', 'E07000095',
       'E07000103', 'E07000098', 'E07000102', 'E07000240', 'E06000034',
       'E07000071', 'E07000072', 'E07000077', 'E06000033', 'E07000076',
       'E07000066', 'E07000068', 'E07000070', 'E07000069', 'E07000075',
       'E07000074', 'E07000067', 'E07000073', 'E07000177', 'E06000038',
       'E06000042', 'E07000007', 'E06000037', 'E06000040', 'E07000179',
       'E07000181', 'E07000178', 'E07000180', 'E07000004', 'E07000006',
       'E06000039', 'E06000041', 'E06000036', 'E07000005', 'E07000108',
       'E07000091', 'E07000086', 'E06000044', 'E07000084', 'E07000085',
       'E06000045', 'E07000090', 'E07000087', 'E07000089', 'E07000088',
       'E06000046', 'E07000093', 'E07000094', 'E07000092', 'E07000208',
       'E07000209', 'E07000210', 'E07000212', 'E07000211', 'E07000207',
       'E07000214', 'E07000215', 'E07000217', 'E07000213', 'E07000216',
       'E06000035', 'E07000114', 'E07000111', 'E07000113', 'E07000112',
       'E07000115', 'E07000116', 'E07000105', 'E07000109', 'E07000106',
       'E07000107', 'E07000110', 'E06000043', 'E07000223', 'E07000228',
       'E07000064', 'E07000063', 'E07000227', 'E07000226', 'E07000062',
       'E07000061', 'E07000229', 'E07000225', 'E07000224', 'E07000065',
       'E06000052', 'E07000044', 'E06000026', 'E07000046', 'E07000040',
       'E07000045', 'E07000041', 'E07000047', 'E06000027', 'E07000043',
       'E07000042', 'E06000053', 'E07000190', 'E07000191', 'E07000188',
       'E07000189', 'E07000187', 'E06000024', 'E06000023', 'E06000022',
       'E06000025', 'E07000083', 'E07000082', 'E07000079', 'E07000078',
       'E07000080', 'E07000081', 'E06000054', 'E06000030', 'E06000029',
       'E07000052', 'E07000053', 'E06000028', 'E07000051', 'E07000049',
       'E07000048', 'E07000050', 'W06000004', 'W06000006', 'W06000005',
       'W06000002', 'W06000003', 'W06000001', 'W06000018', 'W06000022',
       'W06000019', 'W06000021', 'W06000020', 'W06000015', 'W06000016',
       'W06000024', 'W06000011', 'W06000012', 'W06000014', 'W06000013',
       'W06000010', 'W06000008', 'W06000009', 'W06000023', 'S12000017',
       'S12000013', 'S12000027', 'S12000023', 'S12000033', 'S12000034',
       'S12000020', 'S12000048', 'S12000041', 'S12000042', 'S12000047',
       'S12000036', 'S12000019', 'S12000040', 'S12000026', 'S12000010',
       'S12000014', 'S12000030', 'S12000005', 'S12000049', 'S12000038',
       'S12000011', 'S12000045', 'S12000018', 'S12000035', 'S12000039',
       'S12000050', 'S12000029', 'S12000021', 'S12000008', 'S12000028',
       'S12000006', 'E06000059', 'E06000058', 'E07000244', 'E07000245',
       'E06000060', 'E06000062', 'E06000061'], dtype=object)

In [25]:
#Using map, lets convert the 'local_authority_ons_district' column to its district.
uk_admin_areas = {
    "E06000001": "Hartlepool", "E06000002": "Middlesbrough", "E06000003": "Redcar and Cleveland", "E06000004": "Stockton-on-Tees",
    "E06000005": "Darlington", "E06000006": "Halton", "E06000007": "Warrington", "E06000008": "Blackburn with Darwen", 
    "E06000009": "Blackpool", "E06000010": "Kingston upon Hull, City of", "E06000011": "East Riding of Yorkshire", 
    "E06000012": "North East Lincolnshire", "E06000013": "North Lincolnshire", "E06000014": "York", "E06000015": "Derby",
    "E06000016": "Leicester", "E06000017": "Rutland", "E06000018": "Nottingham", "E06000019": "Herefordshire, County of",
    "E06000020": "Telford and Wrekin", "E06000021": "Stoke-on-Trent", "E06000022": "Bath and North East Somerset", 
    "E06000023": "Bristol, City of", "E06000024": "North Somerset", "E06000025": "South Gloucestershire", "E06000026": "Plymouth",
    "E06000027": "Torbay", "E06000028": "Bournemouth", "E06000029": "Poole", "E06000030": "Swindon", "E06000031": "Peterborough",
    "E06000032": "Luton", "E06000033": "Southend-on-Sea", "E06000034": "Thurrock", "E06000035": "Medway", "E06000036": "Bracknell Forest",
    "E06000037": "West Berkshire", "E06000038": "Reading", "E06000039": "Slough", "E06000040": "Windsor and Maidenhead", 
    "E06000041": "Wokingham", "E06000042": "Milton Keynes", "E06000043": "Brighton and Hove", "E06000044": "Portsmouth",
    "E06000045": "Southampton", "E06000046": "Isle of Wight", "E06000047": "County Durham", "E06000048": "Northumberland",
    "E06000049": "Cheshire East", "E06000050": "Cheshire West and Chester", "E06000051": "Shropshire", "E06000052": "Cornwall",
    "E06000053": "Isles of Scilly", "E06000054": "Wiltshire", "E06000055": "Bedford", "E06000056": "Central Bedfordshire",
    "E06000057": "Northumberland", "E06000058": "Bournemouth, Christchurch and Poole", "E06000059": "Dorset (excluding Christchurch)",
    "E06000060": "Buckinghamshire", "E06000061": "North Northamptonshire", "E06000062": "West Northamptonshire", "E07000001": "Mid Bedfordshire",
    "E07000002": "Bedford", "E07000003": "South Bedfordshire", "E07000004": "Aylesbury Vale", "E07000005": "Chiltern", "E07000006": "South Bucks",
    "E07000007": "Wycombe", "E07000008": "Cambridge", "E07000009": "East Cambridgeshire", "E07000010": "Fenland", "E07000011": "Huntingdonshire",
    "E07000012": "South Cambridgeshire", "E07000019": "Caradon", "E07000020": "Carrick", "E07000021": "Kerrier", "E07000022": "North Cornwall",
    "E07000023": "Penwith", "E07000024": "Restormel", "E07000026": "Allerdale", "E07000027": "Barrow-in-Furness", "E07000028": "Carlisle",
    "E07000029": "Copeland", "E07000030": "Eden", "E07000031": "South Lakeland", "E07000032": "Amber Valley", "E07000033": "Bolsover",
    "E07000034": "Chesterfield", "E07000035": "Derbyshire Dales", "E07000036": "Erewash", "E07000037": "High Peak", "E07000038": "North East Derbyshire",
    "E07000039": "South Derbyshire", "E07000040": "East Devon", "E07000041": "Exeter", "E07000042": "Mid Devon", "E07000043": "North Devon",
    "E07000044": "South Hams", "E07000045": "Teignbridge", "E07000046": "Torridge", "E07000047": "West Devon", "E07000048": "Christchurch",
    "E07000049": "East Dorset", "E07000050": "North Dorset", "E07000051": "Purbeck", "E07000052": "West Dorset", "E07000053": "Weymouth and Portland",
    "E07000054": "Chester-le-Street", "E07000055": "Derwentside", "E07000056": "Durham", "E07000057": "Easington", "E07000058": "Sedgefield",
    "E07000059": "Teesdale", "E07000060": "Wear Valley", "E07000061": "Eastbourne", "E07000062": "Hastings", "E07000063": "Lewes", "E07000064": "Rother",
    "E07000065": "Wealden", "E07000066": "Basildon", "E07000067": "Braintree", "E07000068": "Brentwood", "E07000069": "Castle Point", "E07000070": "Chelmsford",
    "E07000071": "Colchester", "E07000072": "Epping Forest", "E07000073": "Harlow", "E07000074": "Maldon", "E07000075": "Rochford", "E07000076": "Tendring",
    "E07000077": "Uttlesford", "E07000078": "Cheltenham", "E07000079": "Cotswold", "E07000080": "Forest of Dean", "E07000081": "Gloucester", "E07000082": "Stroud",
    "E07000083": "Tewkesbury", "E07000084": "Basingstoke and Deane", "E07000085": "East Hampshire", "E07000086": "Eastleigh", "E07000087": "Fareham",
    "E07000088": "Gosport", "E07000089": "Hart", "E07000090": "Havant", "E07000091": "New Forest", "E07000092": "Rushmoor", "E07000093": "Test Valley",
    "E07000094": "Winchester", "E07000095": "Broxbourne", "E07000096": "Dacorum", "E07000097": "East Hertfordshire", "E07000098": "Hertsmere",
    "E07000099": "North Hertfordshire", "E07000100": "St Albans", "E07000101": "Stevenage", "E07000102": "Three Rivers", "E07000103": "Watford",
    "E07000104": "Welwyn Hatfield", "E07000105": "Ashford", "E07000106": "Canterbury", "E07000107": "Dartford", "E07000108": "Dover",
    "E07000109": "Gravesham", "E07000110": "Maidstone", "E07000111": "Sevenoaks", "E07000112": "Shepway", "E07000113": "Swale", "E07000114": "Thanet",
    "E07000115": "Tonbridge and Malling", "E07000116": "Tunbridge Wells", "E07000117": "Burnley", "E07000118": "Chorley", "E07000119": "Fylde",
    "E07000120": "Hyndburn", "E07000121": "Lancaster", "E07000122": "Pendle", "E07000123": "Preston", "E07000124": "Ribble Valley",
    "E07000125": "Rossendale", "E07000126": "South Ribble", "E07000127": "West Lancashire", "E07000128": "Wyre", "E07000129": "Blaby",
    "E07000130": "Charnwood", "E07000131": "Harborough", "E07000132": "Hinckley and Bosworth", "E07000133": "Melton", "E07000134": "North West Leicestershire",
    "E07000135": "Oadby and Wigston", "E07000136": "Boston", "E07000137": "East Lindsey", "E07000138": "Lincoln", "E07000139": "North Kesteven",
    "E07000140": "South Holland", "E07000141": "South Kesteven", "E07000142": "West Lindsey", "E07000143": "Breckland", "E07000144": "Broadland",
    "E07000145": "Great Yarmouth", "E07000146": "King's Lynn and West Norfolk", "E07000147": "North Norfolk", "E07000148": "Norwich",
    "E07000149": "South Norfolk", "E07000150": "Corby", "E07000151": "Daventry", "E07000152": "East Northamptonshire", "E07000153": "Kettering",
    "E07000154": "Northampton", "E07000155": "South Northamptonshire", "E07000156": "Wellingborough", "E07000163": "Craven", "E07000164": "Hambleton",
    "E07000165": "Harrogate", "E07000166": "Richmondshire", "E07000167": "Ryedale", "E07000168": "Scarborough", "E07000169": "Selby",
    "E07000170": "Ashfield", "E07000171": "Bassetlaw", "E07000172": "Broxtowe", "E07000173": "Gedling", "E07000174": "Mansfield",
    "E07000175": "Newark and Sherwood", "E07000176": "Rushcliffe", "E07000177": "Cherwell", "E07000178": "Oxford", "E07000179": "South Oxfordshire",
    "E07000180": "Vale of White Horse", "E07000181": "West Oxfordshire", "E07000187": "Mendip", "E07000188": "Sedgemoor", "E07000189": "South Somerset",
    "E07000190": "Taunton Deane", "E07000191": "West Somerset", "E07000192": "Cannock Chase", "E07000193": "East Staffordshire", "E07000194": "Lichfield",
    "E07000195": "Newcastle-under-Lyme", "E07000196": "South Staffordshire", "E07000197": "Stafford", "E07000198": "Staffordshire Moorlands",
    "E07000199": "Tamworth", "E07000200": "Babergh", "E07000201": "Forest Heath", "E07000202": "Ipswich", "E07000203": "Mid Suffolk",
    "E07000204": "St Edmundsbury", "E07000205": "Suffolk Coastal", "E07000206": "Waveney", "E07000207": "Elmbridge", "E07000208": "Epsom and Ewell",
    "E07000209": "Guildford", "E07000210": "Mole Valley", "E07000211": "Reigate and Banstead", "E07000212": "Runnymede", "E07000213": "Spelthorne",
    "E07000214": "Surrey Heath", "E07000215": "Tandridge", "E07000216": "Waverley", "E07000217": "Woking", "E07000218": "North Warwickshire",
    "E07000219": "Nuneaton and Bedworth", "E07000220": "Rugby", "E07000221": "Stratford-on-Avon", "E07000222": "Warwick", "E07000223": "Adur",
    "E07000224": "Arun", "E07000225": "Chichester", "E07000226": "Crawley", "E07000227": "Horsham", "E07000228": "Mid Sussex", "E07000229": "Worthing",
    "E07000234": "Bromsgrove", "E07000235": "Malvern Hills", "E07000236": "Redditch", "E07000237": "Worcester", "E07000238": "Wychavon", "E07000239": "Wyre Forest",
    "E07000240": "St Albans", "E07000241": "Welwyn Hatfield", "E07000242": "East Hertfordshire", "E07000243": "Stevenage", "E07000244": "East Suffolk",
    "E07000245": "West Suffolk", "E08000001": "Bolton", "E08000002": "Bury", "E08000003": "Manchester", "E08000004": "Oldham", "E08000005": "Rochdale",
    "E08000006": "Salford", "E08000007": "Stockport", "E08000008": "Tameside", "E08000009": "Trafford", "E08000010": "Wigan", "E08000011": "Knowsley",
    "E08000012": "Liverpool", "E08000013": "St. Helens", "E08000014": "Sefton", "E08000015": "Wirral", "E08000016": "Barnsley", "E08000017": "Doncaster",
    "E08000018": "Rotherham", "E08000019": "Sheffield", "E08000020": "Gateshead", "E08000021": "Newcastle upon Tyne", "E08000022": "North Tyneside",
    "E08000023": "South Tyneside", "E08000024": "Sunderland", "E08000025": "Birmingham", "E08000026": "Coventry", "E08000027": "Dudley", "E08000028": "Sandwell",
    "E08000029": "Solihull", "E08000030": "Walsall", "E08000031": "Wolverhampton", "E08000032": "Bradford", "E08000033": "Calderdale", "E08000034": "Kirklees",
    "E08000035": "Leeds", "E08000036": "Wakefield", "E08000037": "Gateshead", "E09000001": "City of London", "E09000002": "Barking and Dagenham", "E09000003": "Barnet",
    "E09000004": "Bexley", "E09000005": "Brent", "E09000006": "Bromley", "E09000007": "Camden", "E09000008": "Croydon", "E09000009": "Ealing",
    "E09000010": "Enfield", "E09000011": "Greenwich", "E09000012": "Hackney", "E09000013": "Hammersmith and Fulham", "E09000014": "Haringey",
    "E09000015": "Harrow", "E09000016": "Havering", "E09000017": "Hillingdon", "E09000018": "Hounslow", "E09000019": "Islington", "E09000020": "Kensington and Chelsea",
    "E09000021": "Kingston upon Thames", "E09000022": "Lambeth", "E09000023": "Lewisham", "E09000024": "Merton", "E09000025": "Newham", "E09000026": "Redbridge",
    "E09000027": "Richmond upon Thames", "E09000028": "Southwark", "E09000029": "Sutton", "E09000030": "Tower Hamlets", "E09000031": "Waltham Forest",
    "E09000032": "Wandsworth", "E09000033": "Westminster", "E10000004": "Cheshire", "EHEATHROW": "London Airport (Heathrow)",
    "S12000005": "Clackmannanshire", "S12000006": "Dumfries and Galloway", "S12000008": "East Ayrshire", "S12000009": "East Dunbartonshire",
    "S12000010": "East Lothian", "S12000011": "East Renfrewshire", "S12000013": "Comhairle nan Eilean Siar", "S12000014": "Falkirk", "S12000015": "Fife",
    "S12000017": "Highland", "S12000018": "Inverclyde", "S12000019": "Midlothian", "S12000020": "Moray", "S12000021": "North Ayrshire",
    "S12000023": "Orkney Islands", "S12000024": "Perth and Kinross", "S12000026": "Scottish Borders", "S12000027": "Shetland Islands",
    "S12000028": "South Ayrshire", "S12000029": "South Lanarkshire", "S12000030": "Stirling", "S12000033": "Aberdeen City", "S12000034": "Aberdeenshire",
    "S12000035": "Argyll and Bute", "S12000036": "City of Edinburgh", "S12000038": "Renfrewshire", "S12000039": "West Dunbartonshire", "S12000040": "West Lothian",
    "S12000041": "Angus", "S12000042": "Dundee City", "S12000043": "Glasgow City", "S12000044": "North Lanarkshire", "S12000045": "East Dunbartonshire",
    "S12000046": "Glasgow City", "S12000047": "Fife", "S12000048": "Perth and Kinross", "S12000049": "Glasgow City", "S12000050": "North Lanarkshire",
    "W06000001": "Isle of Anglesey", "W06000002": "Gwynedd", "W06000003": "Conwy", "W06000004": "Denbighshire", "W06000005": "Flintshire",
    "W06000006": "Wrexham", "W06000008": "Ceredigion", "W06000009": "Pembrokeshire", "W06000010": "Carmarthenshire", "W06000011": "Swansea",
    "W06000012": "Neath Port Talbot", "W06000013": "Bridgend", "W06000014": "Vale of Glamorgan", "W06000015": "Cardiff", "W06000016": "Rhondda Cynon Taf",
    "W06000018": "Caerphilly", "W06000019": "Blaenau Gwent", "W06000020": "Torfaen", "W06000021": "Monmouthshire", "W06000022": "Newport", "W06000023": "Powys",
    "W06000024": "Merthyr Tydfil"
}

collision['local_authority_ons_district'] = collision['local_authority_ons_district'].map(uk_admin_areas)

In [ ]:
#Using map, lets create a 'region' column using the 'local_authority_district' column. This allows us to condense the categories in this column
district_to_region = {
    1: 'Greater London', 2: 'Greater London', 3: 'Greater London', 4: 'Greater London', 5: 'Greater London', 6: 'Greater London', 7: 'Greater London', 
    8: 'Greater London', 9: 'Greater London', 10: 'Greater London', 11: 'Greater London', 12: 'Greater London', 13: 'Greater London', 14: 'Greater London', 
    15: 'Greater London', 16: 'Greater London', 17: 'Greater London', 18: 'Greater London', 19: 'Greater London', 20: 'Greater London',
    21: 'Greater London', 22: 'Greater London', 23: 'Greater London', 24: 'Greater London', 25: 'Greater London', 26: 'Greater London', 27: 'Greater London', 
    28: 'Greater London', 29: 'Greater London', 30: 'Greater London', 31: 'Greater London', 32: 'Greater London', 33: 'East of England', 38: 'South East', 
    40: 'South East', 57: 'Greater London',
    
    60: 'North West', 61: 'North West', 62: 'North West', 63: 'North West', 64: 'North West', 65: 'North West', 70: 'North West', 71: 'North West', 72: 'North West', 
    73: 'North West', 74: 'North West', 75: 'North West', 76: 'North West', 77: 'North West', 79: 'North West', 80: 'North West', 82: 'North West', 83: 'North West',
    84: 'North West', 85: 'North West', 90: 'North West', 91: 'North West', 92: 'North West', 93: 'North West', 95: 'North West', 100: 'North West', 101: 'North West', 
    102: 'North West', 104: 'North West', 106: 'North West', 107: 'North West', 109: 'North West', 110: 'North West', 112: 'North West', 114: 'North West', 120: 'North West',
    121: 'North West', 122: 'North West', 123: 'North West', 124: 'North West', 126: 'North West', 127: 'North West', 128: 'North West', 129: 'North West', 130: 'North West',

    139: 'North East', 140: 'North East', 141: 'North East', 142: 'North East', 143: 'North East', 144: 'North East', 145: 'North East', 146: 'North East', 147: 'North East', 
    148: 'North East', 149: 'North East', 150: 'North East', 160: 'North East', 161: 'North East', 162: 'North East', 163: 'North East', 164: 'North East', 165: 'North East',
    166: 'North East', 168: 'North East', 169: 'North East',

    180: 'Yorkshire and the Humber', 181: 'Yorkshire and the Humber', 182: 'Yorkshire and the Humber', 184: 'Yorkshire and the Humber', 185: 'Yorkshire and the Humber', 
    186: 'Yorkshire and the Humber', 187: 'Yorkshire and the Humber', 189: 'Yorkshire and the Humber', 200: 'Yorkshire and the Humber', 202: 'Yorkshire and the Humber', 
    203: 'Yorkshire and the Humber', 204: 'Yorkshire and the Humber', 206: 'Yorkshire and the Humber', 210: 'Yorkshire and the Humber', 211: 'Yorkshire and the Humber', 
    213: 'Yorkshire and the Humber', 215: 'Yorkshire and the Humber', 220: 'Yorkshire and the Humber', 221: 'Yorkshire and the Humber', 224: 'Yorkshire and the Humber',
    225: 'Yorkshire and the Humber', 226: 'Yorkshire and the Humber', 227: 'Yorkshire and the Humber', 228: 'Yorkshire and the Humber', 229: 'Yorkshire and the Humber', 
    230: 'Yorkshire and the Humber', 231: 'Yorkshire and the Humber', 232: 'Yorkshire and the Humber', 233: 'Yorkshire and the Humber', 240: 'Yorkshire and the Humber', 
    241: 'Yorkshire and the Humber', 243: 'Yorkshire and the Humber', 245: 'Yorkshire and the Humber',

    250: 'West Midlands', 251: 'West Midlands', 252: 'West Midlands', 253: 'West Midlands', 254: 'West Midlands', 255: 'West Midlands', 256: 'West Midlands', 257: 'West Midlands', 
    258: 'West Midlands', 270: 'West Midlands', 271: 'West Midlands', 272: 'West Midlands', 273: 'West Midlands', 274: 'West Midlands', 275: 'West Midlands', 276: 'West Midlands', 
    277: 'West Midlands', 278: 'West Midlands', 279: 'West Midlands', 280: 'West Midlands', 281: 'West Midlands', 282: 'West Midlands', 283: 'West Midlands', 284: 'West Midlands', 
    285: 'West Midlands', 286: 'West Midlands', 290: 'West Midlands', 291: 'West Midlands', 292: 'West Midlands', 293: 'West Midlands', 294: 'West Midlands', 300: 'West Midlands', 
    302: 'West Midlands', 303: 'West Midlands', 305: 'West Midlands', 306: 'West Midlands', 307: 'West Midlands', 309: 'West Midlands',

    320: 'East Midlands', 321: 'East Midlands', 322: 'East Midlands', 323: 'East Midlands', 324: 'East Midlands', 325: 'East Midlands', 327: 'East Midlands', 328: 'East Midlands', 
    329: 'East Midlands', 340: 'East Midlands', 341: 'East Midlands', 342: 'East Midlands', 343: 'East Midlands', 344: 'East Midlands', 345: 'East Midlands', 346: 'East Midlands', 
    347: 'East Midlands', 350: 'East Midlands', 351: 'East Midlands', 352: 'East Midlands', 353: 'East Midlands', 354: 'East Midlands', 355: 'East Midlands', 356: 'East Midlands',

    360: 'East of England', 361: 'East of England', 362: 'East of England', 363: 'East of England', 364: 'East of England', 365: 'East of England', 366: 'East of England', 
    367: 'East of England', 368: 'East of England', 380: 'East of England', 381: 'East of England', 382: 'East of England', 383: 'East of England', 384: 'East of England', 
    385: 'East of England', 386: 'East of England', 390: 'East of England', 391: 'East of England', 392: 'East of England', 393: 'East of England', 394: 'East of England', 
    395: 'East of England', 400: 'East of England', 401: 'East of England', 402: 'East of England', 404: 'East of England', 405: 'East of England', 406: 'East of England', 
    407: 'East of England',

    410: 'South East', 411: 'South East', 412: 'South East', 413: 'South East', 414: 'South East', 415: 'South East', 416: 'South East', 420: 'South East', 421: 'South East', 
    422: 'South East', 423: 'South East', 424: 'South East', 430: 'South East', 431: 'South East', 432: 'South East', 433: 'South East', 434: 'South East', 435: 'South East', 
    436: 'South East', 437: 'South East', 438: 'South East', 450: 'South East', 451: 'South East', 452: 'South East', 453: 'South East', 454: 'South East', 455: 'South East', 
    456: 'South East', 457: 'South East', 458: 'South East', 459: 'South East', 460: 'South East', 461: 'South East', 462: 'South East', 463: 'South East', 470: 'South East',
    471: 'South East', 472: 'South East', 473: 'South East', 474: 'South East', 475: 'South East', 476: 'South East', 477: 'South East', 478: 'South East', 479: 'South East', 
    480: 'South East', 481: 'South East', 482: 'South East', 483: 'South East', 484: 'South East', 485: 'South East', 490: 'South East', 491: 'South East', 492: 'South East', 
    493: 'South East', 494: 'South East', 495: 'South East', 496: 'South East', 497: 'South East', 498: 'South East', 499: 'South East', 500: 'South East', 501: 'South East', 
    502: 'South East', 503: 'South East', 505:'South East',  510: 'South East', 511: 'South East', 512: 'South East', 513: 'South East', 514: 'South East', 515: 'South East', 
    516: 'South East', 517: 'South East', 518: 'South East', 530: 'South East', 531: 'South East', 532: 'South East', 533: 'South East', 534: 'South East', 535: 'South East', 
    536: 'South East', 537: 'South East', 538: 'South East', 539: 'South East', 540: 'South East', 541: 'South East', 542: 'South East', 543: 'South East', 544: 'South East', 
    550: 'South East', 551: 'South East', 552: 'South East', 553: 'South East', 554: 'South East', 555: 'South East', 556: 'South East', 557: 'South East', 558: 'South East', 
    559: 'South East', 560: 'South East', 562: 'South East', 563: 'South East', 564: 'South East', 565: 'South East', 

    570: 'South West', 580: 'South West', 581: 'South West', 582: 'South West', 583: 'South West', 584: 'South West', 585: 'South West', 586: 'South West', 587: 'South West', 
    588: 'South West', 589: 'South West', 590: 'South West', 591: 'South West', 592: 'South West', 593: 'South West', 594: 'South West', 595: 'South West', 596: 'South West',
    599: 'South West', 600: 'South West', 601: 'South West', 602: 'South West', 603: 'South West', 604: 'South West', 605: 'South West', 606: 'South West', 607: 'South West', 
    608: 'South West', 609: 'South West', 610: 'South West', 611: 'South West', 612: 'South West', 620: 'South West', 621: 'South West', 622: 'South West', 623: 'South West', 
    624: 'South West', 625: 'South West', 630: 'South West', 631: 'South West', 632: 'South West', 633: 'South West', 634: 'South West', 635: 'South West', 640: 'South West', 
    641: 'South West', 642: 'South West', 643: 'South West', 644: 'South West', 645: 'South West', 646: 'South West', 647: 'South West',

    660: 'Wales', 661: 'Wales', 662: 'Wales', 663: 'Wales', 664: 'Wales', 665: 'Wales', 666: 'Wales', 667: 'Wales', 668: 'Wales', 669: 'Wales', 680: 'Wales', 682: 'Wales', 
    683: 'Wales', 684: 'Wales', 685: 'Wales', 690: 'Wales', 692: 'Wales', 694: 'Wales', 695: 'Wales', 696: 'Wales', 698: 'Wales', 699: 'Wales', 701: 'Wales', 702: 'Wales',
    703: 'Wales', 704: 'Wales', 705: 'Wales', 710: 'Wales', 711: 'Wales', 712: 'Wales', 713: 'Wales', 714: 'Wales', 715: 'Wales', 716: 'Wales', 717: 'Wales', 718: 'Wales', 
    720: 'Wales', 721: 'Wales', 722: 'Wales', 723: 'Wales', 724: 'Wales', 725: 'Wales', 730: 'Wales', 731: 'Wales', 732: 'Wales', 733: 'Wales', 734: 'Wales', 740: 'Wales',
    741: 'Wales', 742: 'Wales', 743: 'Wales', 744: 'Wales', 745: 'Wales', 746: 'Wales', 750: 'Wales', 751: 'Wales', 752: 'Wales', 753: 'Wales',

    801: 'Scotland', 802: 'Scotland', 803: 'Scotland', 804: 'Scotland', 805: 'Scotland', 806: 'Scotland', 807: 'Scotland', 808: 'Scotland', 809: 'Scotland', 810: 'Scotland', 
    811: 'Scotland', 812: 'Scotland', 813: 'Scotland', 814: 'Scotland', 815: 'Scotland', 816: 'Scotland', 817: 'Scotland', 818: 'Scotland', 819: 'Scotland', 821: 'Scotland', 
    822: 'Scotland', 823: 'Scotland', 824: 'Scotland', 825: 'Scotland', 826: 'Scotland', 827: 'Scotland', 828: 'Scotland', 829: 'Scotland', 830: 'Scotland', 831: 'Scotland', 
    833: 'Scotland', 834: 'Scotland', 835: 'Scotland', 836: 'Scotland', 837: 'Scotland', 838: 'Scotland', 839: 'Scotland', 840: 'Scotland', 841: 'Scotland', 842: 'Scotland', 
    843: 'Scotland', 844: 'Scotland', 845: 'Scotland', 846: 'Scotland', 847: 'Scotland', 848: 'Scotland', 849: 'Scotland', 850: 'Scotland', 851: 'Scotland', 852: 'Scotland', 
    853: 'Scotland', 854: 'Scotland', 856: 'Scotland', 857: 'Scotland', 858: 'Scotland', 859: 'Scotland', 910: 'Scotland', 911: 'Scotland', 912: 'Scotland', 913: 'Scotland', 
    914: 'Scotland', 915: 'Scotland', 916: 'Scotland', 917: 'Scotland', 918: 'Scotland', 919: 'Scotland', 920: 'Scotland', 921: 'Scotland', 922: 'Scotland', 923: 'Scotland', 
    924: 'Scotland', 925: 'Scotland', 926: 'Scotland', 927: 'Scotland', 928: 'Scotland', 929: 'Scotland', 930: 'Scotland', 931: 'Scotland', 932: 'Scotland', 933: 'Scotland', 
    934: 'Scotland', 935: 'Scotland', 936: 'Scotland', 937: 'Scotland', 938: 'Scotland', 939: 'Scotland', 940: 'Scotland', 941: 'Scotland',

    -1.0:'Unknown'
}

collision['region'] = collision['local_authority_district'].map(district_to_region)

#Now we can drop the 'local_authority_district' column
collision = collision.drop(columns = 'local_authority_district', axis = 1)

In [27]:
unknown = collision[collision['region'] == 'Unknown']
unknown['local_authority_ons_district'].unique()

array(['Havering', 'Redbridge', 'Tower Hamlets', 'Westminster', 'Camden',
       'Islington', 'Richmond upon Thames', 'Hackney', 'Southwark',
       'St. Helens', 'Wirral', 'Knowsley', 'Stockport', 'Wigan', 'Bolton',
       'Rochdale', 'Cheshire East', 'Cheshire West and Chester',
       'Warrington', 'Halton', 'County Durham', 'Leeds', 'Doncaster',
       'Coventry', 'Birmingham', 'Walsall', 'Newcastle-under-Lyme',
       'South Staffordshire', 'Lichfield', 'Shropshire',
       'Stratford-on-Avon', 'North Warwickshire', 'Warwick', 'Rushcliffe',
       'Harborough', 'South Northamptonshire', 'Wellingborough',
       'Daventry', 'East Cambridgeshire', 'Peterborough',
       'Huntingdonshire', 'East Suffolk', 'West Suffolk',
       'East Hertfordshire', 'North Hertfordshire', 'Braintree',
       'Cherwell', 'Buckinghamshire', 'Windsor and Maidenhead',
       'Milton Keynes', 'Rushmoor', 'Mid Sussex', 'Chichester',
       'City of London', 'Sedgemoor', 'South Somerset', 'Mendip',
       'Taunton Deane', 'South Gloucestershire', 'West Somerset',
       'Bath and North East Somerset', 'Swindon', 'Wiltshire',
       'Caerphilly', 'Vale of Glamorgan', 'Swansea', 'Cardiff',
       'Neath Port Talbot', 'Bridgend', 'Rhondda Cynon Taf',
       'Merthyr Tydfil', 'Powys', 'Carmarthenshire', 'Ceredigion',
       'Barnet', 'Lambeth', 'Kensington and Chelsea', 'Hounslow',
       'Haringey', 'Sutton', 'Kingston upon Thames', 'Brent', 'Bexley',
       'Bromley', 'Barking and Dagenham', 'Ealing', 'Wandsworth',
       'Merton', 'Hammersmith and Fulham', 'Lewisham', 'Croydon',
       'Newham', 'Greenwich', 'Enfield', 'Harrow', 'Hillingdon',
       'Waltham Forest', 'London Airport (Heathrow)', 'Carlisle',
       'South Lakeland', 'Allerdale', 'Eden', 'Barrow-in-Furness',
       'Copeland', 'Lancaster', 'Fylde', 'Preston', 'Rossendale',
       'Burnley', 'Blackpool', 'Ribble Valley', 'Wyre',
       'Blackburn with Darwen', 'Chorley', 'South Ribble', 'Pendle',
       'Hyndburn', 'West Lancashire', 'Liverpool', 'Sefton', 'Manchester',
       'Salford', 'Oldham', 'Trafford', 'Bury', 'Tameside', 'Gateshead',
       'Newcastle upon Tyne', 'South Tyneside', 'Sunderland',
       'Northumberland', 'North Tyneside', 'Darlington', 'Selby',
       'Harrogate', 'York', 'Richmondshire', 'Hambleton', 'Ryedale',
       'Craven', 'Scarborough', 'Calderdale', 'Bradford', 'Kirklees',
       'Wakefield', 'Sheffield', 'Barnsley', 'Rotherham',
       'Kingston upon Hull, City of', 'North Lincolnshire',
       'East Riding of Yorkshire', 'North East Lincolnshire',
       'Hartlepool', 'Redcar and Cleveland', 'Middlesbrough',
       'Stockton-on-Tees', 'Sandwell', 'Wolverhampton', 'Dudley',
       'Solihull', 'Staffordshire Moorlands', 'Stoke-on-Trent',
       'Stafford', 'East Staffordshire', 'Cannock Chase', 'Tamworth',
       'Malvern Hills', 'Bromsgrove', 'Wyre Forest', 'Telford and Wrekin',
       'Herefordshire, County of', 'Wychavon', 'Worcester', 'Redditch',
       'Rugby', 'Nuneaton and Bedworth', 'Erewash',
       'North East Derbyshire', 'Derby', 'Derbyshire Dales', 'High Peak',
       'Amber Valley', 'Bolsover', 'South Derbyshire', 'Chesterfield',
       'Nottingham', 'Newark and Sherwood', 'Ashfield', 'Mansfield',
       'Gedling', 'Bassetlaw', 'Broxtowe', 'South Kesteven',
       'East Lindsey', 'North Kesteven', 'South Holland', 'Lincoln',
       'West Lindsey', 'Boston', 'Blaby', 'Oadby and Wigston',
       'North West Leicestershire', 'Melton', 'Rutland', 'Charnwood',
       'Hinckley and Bosworth', 'Leicester', 'West Northamptonshire',
       'North Northamptonshire', 'South Cambridgeshire', 'Fenland',
       'Cambridge', 'Breckland', 'Norwich', 'South Norfolk',
       "King's Lynn and West Norfolk", 'Great Yarmouth', 'North Norfolk',
       'Broadland', 'Babergh', 'Ipswich', 'Mid Suffolk',
       'Central Bedfordshire', 'Luton', 'Bedford', 'Stevenage', 'Watford',
       'Welwyn Hatfield', 'St Albans', 'Dacorum', 'Broxbourne',
       'Hertsmere', 'Three Rivers', 'Epping Forest', 'Basildon',
       'Uttlesford', 'Tendring', 'Chelmsford', 'Southend-on-Sea',
       'Colchester', 'Rochford', 'Castle Point', 'Harlow', 'Thurrock',
       'Brentwood', 'Maldon', 'Oxford', 'Vale of White Horse',
       'South Oxfordshire', 'Bracknell Forest', 'Reading',
       'West Oxfordshire', 'West Berkshire', 'Wokingham', 'Slough',
       'New Forest', 'Portsmouth', 'East Hampshire', 'Isle of Wight',
       'Fareham', 'Eastleigh', 'Havant', 'Southampton', 'Winchester',
       'Gosport', 'Test Valley', 'Basingstoke and Deane', 'Hart',
       'Guildford', 'Waverley', 'Woking', 'Epsom and Ewell', 'Tandridge',
       'Surrey Heath', 'Spelthorne', 'Runnymede', 'Mole Valley',
       'Elmbridge', 'Reigate and Banstead', 'Maidstone', 'Dover',
       'Ashford', 'Medway', 'Shepway', 'Gravesham', 'Swale', 'Thanet',
       'Tonbridge and Malling', 'Canterbury', 'Sevenoaks', 'Dartford',
       'Tunbridge Wells', 'Brighton and Hove', 'Eastbourne', 'Horsham',
       'Lewes', 'Arun', 'Crawley', 'Wealden', 'Worthing', 'Rother',
       'Hastings', 'Adur', 'Exeter', 'Torbay', 'Plymouth', 'North Devon',
       'Cornwall', 'South Hams', 'Teignbridge', 'West Devon',
       'East Devon', 'Torridge', 'Mid Devon', 'North Somerset',
       'Bristol, City of', 'Tewkesbury', 'Gloucester', 'Stroud',
       'Cotswold', 'Forest of Dean', 'Cheltenham',
       'Dorset (excluding Christchurch)',
       'Bournemouth, Christchurch and Poole', 'Conwy', 'Wrexham',
       'Isle of Anglesey', 'Flintshire', 'Gwynedd', 'Denbighshire',
       'Blaenau Gwent', 'Monmouthshire', 'Newport', 'Torfaen',
       'Pembrokeshire', 'West Lothian', 'Glasgow City', 'Angus',
       'Aberdeen City', 'Aberdeenshire', 'East Renfrewshire',
       'Scottish Borders', 'Perth and Kinross', 'Highland',
       'North Lanarkshire', 'South Lanarkshire', 'North Ayrshire',
       'Stirling', 'East Lothian', 'Falkirk', 'City of Edinburgh',
       'Inverclyde', 'Dundee City', 'Dumfries and Galloway',
       'Argyll and Bute', 'Fife', 'Clackmannanshire', 'South Ayrshire',
       'Renfrewshire', 'Moray', 'East Ayrshire', 'Midlothian',
       'Comhairle nan Eilean Siar', 'East Dunbartonshire',
       'West Dunbartonshire', 'Shetland Islands', 'Orkney Islands',
       'Isles of Scilly'], dtype=object)

In [28]:
districts_to_regions = {
    'Havering': 'London', 'Redbridge': 'London', 'Tower Hamlets': 'London', 'Westminster': 'London',
    'Camden': 'London', 'Islington': 'London', 'Richmond upon Thames': 'London', 'Hackney': 'London',
    'Southwark': 'London', 'St. Helens': 'North West', 'Wirral': 'North West', 'Knowsley': 'North West',
    'Stockport': 'North West', 'Wigan': 'North West', 'Bolton': 'North West', 'Rochdale': 'North West',
    'Cheshire East': 'North West', 'Cheshire West and Chester': 'North West', 'Warrington': 'North West', 'Halton': 'North West',
    'County Durham': 'North East', 'Leeds': 'Yorkshire and the Humber', 'Doncaster': 'Yorkshire and the Humber', 'Coventry': 'West Midlands',
    'Birmingham': 'West Midlands', 'Walsall': 'West Midlands', 'Newcastle-under-Lyme': 'West Midlands', 'South Staffordshire': 'West Midlands',
    'Lichfield': 'West Midlands', 'Shropshire': 'West Midlands', 'Stratford-on-Avon': 'West Midlands', 'North Warwickshire': 'West Midlands',
    'Warwick': 'West Midlands', 'Rushcliffe': 'East Midlands', 'Harborough': 'East Midlands', 'South Northamptonshire': 'East Midlands',
    'Wellingborough': 'East Midlands', 'Daventry': 'East Midlands', 'East Cambridgeshire': 'East of England', 'Peterborough': 'East of England',
    'Huntingdonshire': 'East of England', 'East Suffolk': 'East of England', 'West Suffolk': 'East of England', 'East Hertfordshire': 'East of England',
    'North Hertfordshire': 'East of England', 'Braintree': 'East of England', 'Cherwell': 'South East', 'Buckinghamshire': 'South East',
    'Windsor and Maidenhead': 'South East', 'Milton Keynes': 'South East', 'Rushmoor': 'South East', 'Mid Sussex': 'South East',
    'Chichester': 'South East', 'City of London': 'London', 'Sedgemoor': 'South West', 'South Somerset': 'South West',
    'Mendip': 'South West', 'Taunton Deane': 'South West', 'South Gloucestershire': 'South West', 'West Somerset': 'South West',
    'Bath and North East Somerset': 'South West', 'Swindon': 'South West', 'Wiltshire': 'South West', 'Caerphilly': 'Wales',
    'Vale of Glamorgan': 'Wales', 'Swansea': 'Wales', 'Cardiff': 'Wales', 'Neath Port Talbot': 'Wales', 'Bridgend': 'Wales',
    'Rhondda Cynon Taf': 'Wales', 'Merthyr Tydfil': 'Wales', 'Powys': 'Wales', 'Carmarthenshire': 'Wales',
    'Ceredigion': 'Wales', 'Barnet': 'London', 'Lambeth': 'London', 'Kensington and Chelsea': 'London',
    'Hounslow': 'London', 'Haringey': 'London', 'Sutton': 'London', 'Kingston upon Thames': 'London',
    'Brent': 'London', 'Bexley': 'London', 'Bromley': 'London', 'Barking and Dagenham': 'London',
    'Ealing': 'London', 'Wandsworth': 'London', 'Merton': 'London', 'Hammersmith and Fulham': 'London',
    'Lewisham': 'London', 'Croydon': 'London', 'Newham': 'London', 'Greenwich': 'London',
    'Enfield': 'London', 'Harrow': 'London', 'Hillingdon': 'London', 'Waltham Forest': 'London',
    'London Airport (Heathrow)': 'London', 'Carlisle': 'North West', 'South Lakeland': 'North West', 'Allerdale': 'North West',
    'Eden': 'North West', 'Barrow-in-Furness': 'North West', 'Copeland': 'North West', 'Lancaster': 'North West',
    'Fylde': 'North West', 'Preston': 'North West', 'Rossendale': 'North West', 'Burnley': 'North West',
    'Blackpool': 'North West', 'Ribble Valley': 'North West', 'Wyre': 'North West', 'Blackburn with Darwen': 'North West',
    'Chorley': 'North West', 'South Ribble': 'North West', 'Pendle': 'North West', 'Hyndburn': 'North West',
    'West Lancashire': 'North West', 'Liverpool': 'North West', 'Sefton': 'North West', 'Manchester': 'North West',
    'Salford': 'North West', 'Oldham': 'North West', 'Trafford': 'North West', 'Bury': 'North West',
    'Tameside': 'North West', 'Gateshead': 'North East', 'Newcastle upon Tyne': 'North East', 'South Tyneside': 'North East',
    'Sunderland': 'North East', 'Northumberland': 'North East', 'North Tyneside': 'North East', 'Darlington': 'North East',
    'Selby': 'Yorkshire and the Humber', 'Harrogate': 'Yorkshire and the Humber', 'York': 'Yorkshire and the Humber', 'Richmondshire': 'Yorkshire and the Humber',
    'Hambleton': 'Yorkshire and the Humber', 'Ryedale': 'Yorkshire and the Humber', 'Craven': 'Yorkshire and the Humber', 'Scarborough': 'Yorkshire and the Humber',
    'Calderdale': 'Yorkshire and the Humber', 'Bradford': 'Yorkshire and the Humber', 'Kirklees': 'Yorkshire and the Humber', 'Wakefield': 'Yorkshire and the Humber',
    'Sheffield': 'Yorkshire and the Humber', 'Barnsley': 'Yorkshire and the Humber', 'Rotherham': 'Yorkshire and the Humber', 'Kingston upon Hull, City of': 'Yorkshire and the Humber',
    'North Lincolnshire': 'Yorkshire and the Humber', 'East Riding of Yorkshire': 'Yorkshire and the Humber', 'North East Lincolnshire': 'Yorkshire and the Humber', 'Hartlepool': 'North East',
    'Redcar and Cleveland': 'North East', 'Middlesbrough': 'North East', 'Stockton-on-Tees': 'North East', 'Sandwell': 'West Midlands',
    'Wolverhampton': 'West Midlands', 'Dudley': 'West Midlands', 'Solihull': 'West Midlands', 'Staffordshire Moorlands': 'West Midlands',
    'Stoke-on-Trent': 'West Midlands', 'Stafford': 'West Midlands', 'East Staffordshire': 'West Midlands', 'Cannock Chase': 'West Midlands',
    'Tamworth': 'West Midlands', 'Malvern Hills': 'West Midlands', 'Bromsgrove': 'West Midlands', 'Wyre Forest': 'West Midlands',
    'Telford and Wrekin': 'West Midlands', 'Herefordshire, County of': 'West Midlands', 'Wychavon': 'West Midlands', 'Worcester': 'West Midlands',
    'Redditch': 'West Midlands', 'Rugby': 'West Midlands', 'Nuneaton and Bedworth': 'West Midlands', 'Erewash': 'East Midlands',
    'North East Derbyshire': 'East Midlands', 'Derby': 'East Midlands', 'Derbyshire Dales': 'East Midlands', 'High Peak': 'East Midlands',
    'Amber Valley': 'East Midlands', 'Bolsover': 'East Midlands', 'South Derbyshire': 'East Midlands', 'Chesterfield': 'East Midlands',
    'Nottingham': 'East Midlands', 'Newark and Sherwood': 'East Midlands', 'Ashfield': 'East Midlands', 'Mansfield': 'East Midlands',
    'Gedling': 'East Midlands', 'Bassetlaw': 'East Midlands', 'Broxtowe': 'East Midlands', 'South Kesteven': 'East Midlands',
    'East Lindsey': 'East Midlands', 'North Kesteven': 'East Midlands', 'South Holland': 'East Midlands', 'Lincoln': 'East Midlands',
    'West Lindsey': 'East Midlands', 'Boston': 'East Midlands', 'Blaby': 'East Midlands', 'Oadby and Wigston': 'East Midlands',
    'North West Leicestershire': 'East Midlands', 'Melton': 'East Midlands', 'Rutland': 'East Midlands', 'Charnwood': 'East Midlands',
    'Hinckley and Bosworth': 'East Midlands', 'Leicester': 'East Midlands', 'West Northamptonshire': 'East Midlands', 'North Northamptonshire': 'East Midlands',
    'South Cambridgeshire': 'East of England', 'Fenland': 'East of England', 'Cambridge': 'East of England', 'Breckland': 'East of England',
    'Norwich': 'East of England', 'South Norfolk': 'East of England', "King's Lynn and West Norfolk": 'East of England', 'Great Yarmouth': 'East of England',
    'North Norfolk': 'East of England', 'Broadland': 'East of England', 'Babergh': 'East of England', 'Ipswich': 'East of England',
    'Mid Suffolk': 'East of England', 'Central Bedfordshire': 'East of England', 'Luton': 'East of England', 'Bedford': 'East of England',
    'Stevenage': 'East of England', 'Watford': 'East of England', 'Welwyn Hatfield': 'East of England', 'St Albans': 'East of England',
    'Dacorum': 'East of England', 'Broxbourne': 'East of England', 'Hertsmere': 'East of England', 'Three Rivers': 'East of England',
    'Epping Forest': 'East of England', 'Basildon': 'East of England', 'Uttlesford': 'East of England', 'Tendring': 'East of England',
    'Chelmsford': 'East of England', 'Southend-on-Sea': 'East of England', 'Colchester': 'East of England', 'Rochford': 'East of England',
    'Castle Point': 'East of England', 'Harlow': 'East of England', 'Thurrock': 'East of England', 'Brentwood': 'East of England',
    'Maldon': 'East of England', 'Oxford': 'South East', 'Vale of White Horse': 'South East', 'South Oxfordshire': 'South East',
    'Bracknell Forest': 'South East', 'Reading': 'South East', 'West Oxfordshire': 'South East', 'West Berkshire': 'South East',
    'Wokingham': 'South East', 'Slough': 'South East', 'New Forest': 'South East', 'Portsmouth': 'South East',
    'East Hampshire': 'South East', 'Isle of Wight': 'South East', 'Fareham': 'South East', 'Eastleigh': 'South East',
    'Havant': 'South East', 'Southampton': 'South East', 'Winchester': 'South East', 'Gosport': 'South East',
    'Test Valley': 'South East', 'Basingstoke and Deane': 'South East', 'Hart': 'South East', 'Guildford': 'South East',
    'Waverley': 'South East', 'Woking': 'South East', 'Epsom and Ewell': 'South East', 'Tandridge': 'South East',
    'Surrey Heath': 'South East', 'Spelthorne': 'South East', 'Runnymede': 'South East', 'Mole Valley': 'South East',
    'Elmbridge': 'South East', 'Reigate and Banstead': 'South East', 'Maidstone': 'South East', 'Dover': 'South East',
    'Ashford': 'South East', 'Medway': 'South East', 'Shepway': 'South East', 'Gravesham': 'South East',
    'Swale': 'South East', 'Thanet': 'South East', 'Tonbridge and Malling': 'South East', 'Canterbury': 'South East',
    'Sevenoaks': 'South East', 'Dartford': 'South East', 'Tunbridge Wells': 'South East', 'Brighton and Hove': 'South East',
    'Eastbourne': 'South East', 'Horsham': 'South East', 'Lewes': 'South East', 'Arun': 'South East',
    'Crawley': 'South East', 'Wealden': 'South East', 'Worthing': 'South East', 'Rother': 'South East',
    'Hastings': 'South East', 'Adur': 'South East', 'Exeter': 'South West', 'Torbay': 'South West',
    'Plymouth': 'South West', 'North Devon': 'South West', 'Cornwall': 'South West', 'South Hams': 'South West',
    'Teignbridge': 'South West', 'West Devon': 'South West', 'East Devon': 'South West', 'Torridge': 'South West',
    'Mid Devon': 'South West', 'North Somerset': 'South West', 'Bristol, City of': 'South West', 'Tewkesbury': 'South West',
    'Gloucester': 'South West', 'Stroud': 'South West', 'Cotswold': 'South West', 'Forest of Dean': 'South West',
    'Cheltenham': 'South West', 'Dorset (excluding Christchurch)': 'South West', 'Bournemouth, Christchurch and Poole': 'South West', 'Conwy': 'Wales',
    'Wrexham': 'Wales', 'Isle of Anglesey': 'Wales', 'Flintshire': 'Wales', 'Gwynedd': 'Wales',
    'Denbighshire': 'Wales', 'Blaenau Gwent': 'Wales', 'Monmouthshire': 'Wales', 'Newport': 'Wales',
    'Torfaen': 'Wales', 'Pembrokeshire': 'Wales', 'West Lothian': 'Scotland', 'Glasgow City': 'Scotland',
    'Angus': 'Scotland', 'Aberdeen City': 'Scotland', 'Aberdeenshire': 'Scotland', 'East Renfrewshire': 'Scotland',
    'Scottish Borders': 'Scotland', 'Perth and Kinross': 'Scotland', 'Highland': 'Scotland', 'North Lanarkshire': 'Scotland',
    'South Lanarkshire': 'Scotland', 'North Ayrshire': 'Scotland', 'Stirling': 'Scotland', 'East Lothian': 'Scotland',
    'Falkirk': 'Scotland', 'City of Edinburgh': 'Scotland', 'Inverclyde': 'Scotland', 'Dundee City': 'Scotland',
    'Dumfries and Galloway': 'Scotland', 'Argyll and Bute': 'Scotland', 'Fife': 'Scotland', 'Clackmannanshire': 'Scotland',
    'South Ayrshire': 'Scotland', 'Renfrewshire': 'Scotland', 'Moray': 'Scotland', 'East Ayrshire': 'Scotland',
    'Midlothian': 'Scotland', 'Comhairle nan Eilean Siar': 'Scotland', 'East Dunbartonshire': 'Scotland', 'West Dunbartonshire': 'Scotland',
    'Shetland Islands': 'Scotland', 'Orkney Islands': 'Scotland', 'Isles of Scilly': 'South West'
}

unknown['region'] = unknown['local_authority_ons_district'].map(districts_to_regions)

/var/folders/kz/yfq5dclx7cd6vx_pj9dj5d6m0000gn/T/ipykernel_50949/3170252522.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unknown['region'] = unknown['local_authority_ons_district'].map(districts_to_regions)

In [29]:
collision = collision[collision['region'] != 'Unknown']

In [30]:
collision = pd.concat([collision, unknown], ignore_index = True)

In [31]:
collision.head()

,accident_index,accident_year,longitude,latitude,accident_severity,date,day_of_week,time,local_authority_ons_district,accident_month,region
0,2018010080971,2018,-0.139737,51.524587,Minor Injuries,2018-01-01,Monday,01:30,Camden,January,Greater London
1,2018010080973,2018,0.046471,51.539651,Minor Injuries,2018-01-01,Monday,00:50,Newham,January,Greater London
2,2018010080974,2018,-0.102474,51.529746,Minor Injuries,2018-01-01,Monday,00:45,Islington,January,Greater London
3,2018010080981,2018,0.037828,51.530179,Seriously Injuries,2018-01-01,Monday,03:00,Newham,January,Greater London
4,2018010080982,2018,0.065781,51.469258,Seriously Injuries,2018-01-01,Monday,02:20,Greenwich,January,Greater London

#### Vehicle Cleaning

In [32]:
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990153 entries, 0 to 193544
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   accident_index      990153 non-null  object
 1   vehicle_type        990153 non-null  int64
 2   sex_of_driver       990153 non-null  int64
 3   age_band_of_driver  990153 non-null  int64
dtypes: int64(3), object(1)
memory usage: 37.8+ MB

In [33]:
vehicle.columns

Index(['accident_index', 'vehicle_type', 'sex_of_driver',
       'age_band_of_driver'],
      dtype='object')

In [34]:
def clean_vehicle_type(df):
    vehicle_type_mapping = {
        -1:'Unknown',
        1:'Bicycle',
        2:'Bicycle',
        3:'Motorcycle',
        4:'Motorcycle',
        5:'Motorcycle',
        8:'Car',
        9:'Car',
        10:'Other',
        11:'Other',
        16:'Other',
        17:'Other',
        18:'Other',
        19:'Other',
        20:'Other',
        21:'Other',
        22:'Bicycle',
        23:'Motorcycle',
        90:'Other',
        97:'Motorcycle',
        98:'Other',
        99:'Unknown'
    }

    df['vehicle_type'] = df['vehicle_type'].map(vehicle_type_mapping)

    return df

vehicle = clean_vehicle_type(vehicle)

In [35]:
vehicle['vehicle_type'].unique()

array(['Car', 'Other', 'Bicycle', 'Motorcycle', 'Unknown'], dtype=object)

In [36]:
#Rename the categories associated with the 'sex_of_driver' column
def clean_gender_column(df, column_name):
    gender_mapping = {
        -1:'Unknown',
        1:'Male',
        2:'Female',
        3:'Unknown',
        9:'Unknown'
    }

    df[column_name] = df[column_name].map(gender_mapping)

    return df

vehicle = clean_gender_column(vehicle, 'sex_of_driver')

In [37]:
vehicle['age_band_of_driver'].unique()

array([ 6,  8, -1,  7,  5,  9, 10, 11,  4,  3,  1,  2])

In [38]:
#Rename the categories associated with the 'age_band_of_driver' column
def clean_age_band(df, column_name):
    age_band_mapping = {
        -1:'Unknown',
        1:'0-5',
        2:'6-10',
        3:'11-15',
        4:'16-20',
        5:'21-25',
        6:'26-35',
        7:'36-45',
        8:'46-55',
        9:'56-65',
        10:'66-75',
        11:'75+'
    }

    df[column_name] = df[column_name].map(age_band_mapping)

    return df

vehicle = clean_age_band(vehicle, 'age_band_of_driver')

In [39]:
vehicle.head()

  accident_index vehicle_type sex_of_driver age_band_of_driver
0  2018010080971          Car          Male              26-35
1  2018010080971          Car          Male              46-55
2  2018010080973          Car       Unknown            Unknown
3  2018010080974          Car          Male              36-45
4  2018010080974          Car          Male              21-25

#### Casualty Cleaning

In [40]:
casualty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 693028 entries, 0 to 135479
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   accident_index        693028 non-null  object
 1   casualty_class        693028 non-null  int64
 2   sex_of_casualty       693028 non-null  int64
 3   age_band_of_casualty  693028 non-null  int64
 4   casualty_severity     693028 non-null  int64
dtypes: int64(4), object(1)
memory usage: 31.7+ MB

In [41]:
casualty.columns

Index(['accident_index', 'casualty_class', 'sex_of_casualty',
       'age_band_of_casualty', 'casualty_severity'],
      dtype='object')

In [42]:
#Rename the categories associated with the 'casualty_type' column
def clean_casualty_class(df, column_name):
    casualty_class_mapping = {
        1:'Driver',
        2:'Passenger',
        3:'Pedestrian'
    }

    df[column_name] = df[column_name].map(casualty_class_mapping)

    return df

casualty = clean_casualty_class(casualty, 'casualty_class')

In [43]:
#we can clean the 'sex_of_casualty' column using the 'clean_gender_column' function defined previously
casualty = clean_gender_column(casualty, 'sex_of_casualty')

In [44]:
#Likewise, we will clean the 'age_band_of_casualty' column using the 'clean_age_band' function
casualty = clean_age_band(casualty, 'age_band_of_casualty')

In [45]:
casualty.head()

,accident_index,casualty_class,sex_of_casualty,age_band_of_casualty,casualty_severity
0,2018010080971,Passenger,Female,46-55,3
1,2018010080971,Driver,Male,46-55,3
2,2018010080973,Pedestrian,Male,26-35,3
3,2018010080974,Driver,Male,36-45,3
4,2018010080981,Driver,Male,26-35,2

In [46]:
def clean_casualty_severity(df):
    """
    Clean the 'accident_severity' column by replacing the numbers with a categorical variable to give it some meaning.'
    """
    
    #Mapping dictionary to regroup accident severity 
    accident_severity_mapping = {
        1.0:'fatal',
        2.0:'Seriously Injuries',
        3.0:'Minor Injuries'
    }

    #Map values using the mapping dictionary
    df['casualty_severity'] = df['casualty_severity'].map(accident_severity_mapping)

    return df
casualty = clean_casualty_severity(casualty)

In [47]:
#We will drop the 'date' column
collision = collision.drop(columns = 'date', axis = 1)

In [48]:
collision.dtypes

accident_index                  object
accident_year                    int64
longitude                       object
latitude                        object
accident_severity               object
day_of_week                     object
time                            object
local_authority_ons_district    object
accident_month                  object
region                          object
dtype: object

In [49]:
collision.shape

(538461, 10)

### Additional Data Cleaning Prior to Import to mySQL

In order to import the tables into the mySQL database, further cleaning needs to be done to specific rows for Python to allow for exporting of the table.

In [50]:
#Create a copy of the original collision df
collision_copy = collision.copy()

In [51]:
#In order to convert the 'accident_index' column into an integer, we need to remove instances where there are letters in the 'accident_index'
pattern = r'[A-Za-z]'

# Filter rows based on the pattern
mask = collision_copy['accident_index'].str.contains(pattern, na=False) == False
# Print or further process ids_with_letter
collision_copy = collision_copy[mask]

In [52]:
collision_copy.shape

(483654, 10)

In [53]:
#Cast the 'accident_index' as an integer
collision_copy['accident_index'] = collision_copy['accident_index'].astype(int)

In [54]:
vehicle.shape

(990153, 4)

In [55]:
#Create a copy of the original vehicle df
vehicle_copy = vehicle.copy()

In [56]:
#Drop rows from the 'accident_index' that were removed from the collision df
pattern = r'[A-Za-z]'

# Filter rows based on the pattern
mask = vehicle_copy['accident_index'].str.contains(pattern, na=False) == False
# Print or further process ids_with_letter
vehicle_copy = vehicle_copy[mask]

In [57]:
vehicle_copy.shape

(890251, 4)

In [58]:
#Cast the 'accident_index' as an integer
vehicle_copy['accident_index'] = vehicle_copy['accident_index'].astype(int)

In [59]:
casualty.shape

(693028, 5)

In [60]:
#Create a copy of the original casualty df
casualty_copy = casualty.copy()

In [61]:
#Drop rows from the 'accident_index' that were removed from the collision df
pattern = r'[A-Za-z]'

# Filter rows based on the pattern
mask = casualty_copy['accident_index'].str.contains(pattern, na=False) == False
# Print or further process ids_with_letter
casualty_copy = casualty_copy[mask]

In [62]:
casualty_copy.shape

(620425, 5)

In [63]:
#Cast the 'accident_index' as an integer
casualty_copy['accident_index'] = casualty_copy['accident_index'].astype(int)

In [64]:
#Cast the 'longitude' as an integer
collision_copy['longitude'] = collision_copy['longitude'].astype(float)

In [65]:
#Cast the 'latitude' as an integer
collision_copy['latitude'] = collision_copy['latitude'].astype(float)

In [66]:
collision_copy.columns

Index(['accident_index', 'accident_year', 'longitude', 'latitude',
       'accident_severity', 'day_of_week', 'time',
       'local_authority_ons_district', 'accident_month', 'region'],
      dtype='object')

In [67]:
#Drop rows in which the value is 'Unknown' from the vehicle table
vehicle_copy = vehicle_copy[vehicle_copy['vehicle_type'] != 'Unknown']
vehicle_copy = vehicle_copy[vehicle_copy['sex_of_driver'] != 'Unknown']
vehicle_copy = vehicle_copy[vehicle_copy['age_band_of_driver'] != 'Unknown']

In [68]:
#Drop rows in which the value is 'Unknown' from the casualty table
casualty_copy = casualty_copy[casualty_copy['sex_of_casualty'] != 'Unknown']
casualty_copy = casualty_copy[casualty_copy['age_band_of_casualty'] != 'Unknown']

In [69]:
#Export the clean dfs as a .csv file
collision_copy.to_csv('collision.csv')
vehicle_copy.to_csv('vehicle.csv')
casualty_copy.to_csv('casualty.csv')

### Exporting the Tables to mySQL

In [75]:
password = getpass.getpass()

 ········

In [76]:
bd = "Final_Project" 
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/Final_Project)

In [77]:
conn = engine.connect()

In [78]:
try:
    conn = engine.connect()
    print("Connection established successfully!")
except Exception as e:
    print(f"An error occurred while connecting to the database: {e}")

Connection established successfully!

In [75]:
csv_file_path = '../data/Clean/collision.csv'

In [76]:
def import_csv_in_chunks(csv_file_path, engine, chunk_size=10000): 
    try: 
        chunk_iter = pd.read_csv(csv_file_path, chunksize=chunk_size, index_col=0)
        for chunk in chunk_iter:
            chunk['accident_index'] = pd.to_numeric(chunk['accident_index'], errors='raise')
            chunk['longitude'] = pd.to_numeric(chunk['longitude'], errors='raise')
            chunk['latitude'] = pd.to_numeric(chunk['latitude'], errors='raise')
            chunk.to_sql(name='collision_info', con=engine, if_exists='append', index=False)
            
            print(f'{len(chunk)} rows inserted')
    except pd.errors.EmptyDataError:
        print("The CSV file is empty.")
    except pd.errors.ParserError as e:
        print(f"Error parsing CSV file: {e}")
    except ValueError as e:
        print(f"Data error: {e}")
    except Exception as e:
        print(f"An error occurred during CSV import: {e}")

In [77]:
# Call the function with the path to your CSV file and the engine
import_csv_in_chunks(csv_file_path, engine)

10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
3654 rows inserted

In [79]:
csv_file_path = '../data/Clean/vehicle.csv'

In [80]:
def import_csv_in_chunks(csv_file_path, engine, chunk_size=10000): 
    try: 
        chunk_iter = pd.read_csv(csv_file_path, chunksize=chunk_size, index_col=0)
        for chunk in chunk_iter:
            chunk.to_sql(name='vehicle_info', con=engine, if_exists='append', index=False)
            
            print(f'{len(chunk)} rows inserted')
    except pd.errors.EmptyDataError:
        print("The CSV file is empty.")
    except pd.errors.ParserError as e:
        print(f"Error parsing CSV file: {e}")
    except ValueError as e:
        print(f"Data error: {e}")
    except Exception as e:
        print(f"An error occurred during CSV import: {e}")

In [81]:
import_csv_in_chunks(csv_file_path, engine)

10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
9960 rows inserted

In [81]:
csv_file_path = '../data/Clean/casualty.csv'

In [82]:
def import_csv_in_chunks(csv_file_path, engine, chunk_size=10000): 
    try: 
        chunk_iter = pd.read_csv(csv_file_path, chunksize=chunk_size, index_col=0)
        for chunk in chunk_iter:
            chunk.to_sql(name='casualty_info', con=engine, if_exists='append', index=False)
            
            print(f'{len(chunk)} rows inserted')
    except pd.errors.EmptyDataError:
        print("The CSV file is empty.")
    except pd.errors.ParserError as e:
        print(f"Error parsing CSV file: {e}")
    except ValueError as e:
        print(f"Data error: {e}")
    except Exception as e:
        print(f"An error occurred during CSV import: {e}")

In [83]:
import_csv_in_chunks(csv_file_path, engine)

10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
10000 rows inserted
4810 rows inserted